@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

.headline {
  font-size: 2em;
  margin-top: 50px;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#app {
  text-align: center;
  background-color: #11698e;
  width: 700px;
  height: 900px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  box-shadow: 20px 20px #14213d;
}

#app > .title {
  background-color: white;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  line-height: 100px;
  font-size: 3em;
}

.zip {
  margin-top: 80px;
  margin-bottom: 20px;
}

#zip {
  width: 70%;
  height: 50px;
  font-size: 1.5em;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
}

textarea {
  padding-left: 10px;
  width: 70%;
  height: 100px;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  resize: none;
}

input, textarea {
  border: none;
  outline: none;
}

.generate {
  background-color: #00a896;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 80%;
  height: 80px;
  transform: translateX(-50%);
  border-radius: 40px;
  line-height: 80px;
  color: white;
  font-size: 1.5em;
}

.generate:hover {
  background-color: #00CDB7;
}

.icon > img {
  width: 42%;
  transform: translateY(-50px);
}

#entryHolder {
  font-size: 1.5em;
  margin-top: 7em;
}

#date, #temp, #content {
  margin: 10px;
  font-family: 'Manrope', sans-serif;
}

@media (max-width: 850px) {
  #app {
    width: 350px;
    height: 700px;
  }
  #app > .title {
    font-size: 1.8em;
  }
}